:root{
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* text colors*/
    --txt-cl:#757575;
    --secondary-txt-cl:#212121;
    --accent-cl:#2196F3;
    /*backgrounds color*/
    --main-bg-cl:#E5E5E5;
    --secondary-bg-cl:#2F303A;
}

body{
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--txt-cl);
    
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.container{
    
    width: 1200px ;

    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto ;
    margin-right: auto;
    
}   


.navigation{
    display: flex;
    align-items: center;
    
}
.logo{
    color: #000000;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right:95px ;
}

.accent-logo{
   color: var(--accent-cl); 
}

.list{
    display: flex;
    align-items: center;
}
.link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.link-current::after{
  content: '';
  display: inline-block;
  width: 48px;
  height: 4px;
  background-color: var(--accent-cl);
  border-radius: 2px;
  
  position: absolute;
  bottom: -1px;
  left: 0px;
  
} 

.link-current{
    color: var(--accent-cl);
}

.link-port{
    color: var(--accent-cl);
}

.link-port::after{
    content: '';
    display: inline-block;
    width: 78px;
    height: 4px;

    background-color: var(--accent-cl);
    border-radius: 2px;
    
    position: absolute;
    bottom: -1px;
    left: 0px;
}

.list,
.filter-main,
.features-main,
.caption-list,
.team-list,
.filter-content{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-post{
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    
    
}
.link:hover,
.link:focus{
    color: var(--accent-cl);
}
.item{
    margin-right: 50px;
    
    position: relative;
}
.item:last-child{
    margin-right: 0;
}
.contacts-group{
    margin-left: auto;

    display: flex;
    align-items: center;
    
}

.contacts{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--txt-cl);
    text-decoration: none;
    margin-right: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.contacts:last-child{
    margin-right: 0;
}

.contacts:hover,
.contacts:focus{
    color: var(--accent-cl);
}

.header-icon{
    fill: var(--txt-cl);

    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contacts:hover .header-icon,
.contacts:focus .header-icon {
    fill: var(--accent-cl);
}

.hero {
        width: 1600px;
        background: var(--secondary-bg-cl);
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/bg\ img.jpg);
    
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        text-align: center;
        
    
        margin: 0 auto;
        
    
    
        padding-top: 200px;
        padding-bottom: 200px;
}


.hero-container{
   text-align: center;
   
}

.title-hero{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    
    margin-bottom: 30px;

    
}

.btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: inherit;

  
    border-radius: 4px;
    
    
    width: 200px;
    height: 50px;
}

.backdrop{
    position: fixed;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.close-button{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% ;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.close-button:hover{
    fill: var(--accent-cl);
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.features-main{
    display: flex;
    
}

.features-link{
    width: 270px;
    height: 120px;

    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

.features-post{
    padding-top: 94px;
    padding-bottom: 94px;
}



.features-item{
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
    

}
   
.features-item:last-child{
    margin-right: 0px;
}
.features{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-txt-cl);
    list-style: none;

    margin-bottom: 10px;
}

.features-list{
    line-height: 1.71;
    color: var(--txt-cl);

    letter-spacing: 0.03em;
    
}

.caption-list{
    display: flex;
   
   
}

.caption-post{
    padding-bottom: 94px;
    
}



.caption{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);

    margin-bottom: 50px;
}

.caption-item{
    display: flex;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;

    position: relative;
}
    

.caption-item:last-child{
    margin-right: 0px;
}

.caption-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;
   
}


.caption-box{
    display: flex;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    
    bottom: 0px;
    left: 0px;
    
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;
}

.team-post{
    padding-top: 94px;  
    padding-bottom: 94px;

    background-color: #F5F4FA;
}

.team-tittle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);

    margin-bottom: 50px;
}

.team-list {
    display: flex;
    
    
}

.team-item{
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}

.team-item:last-child{
    margin-right: 0px;
}
   
.team-card{
    padding-top: 30px ;
    padding-bottom: 30px;
    text-align: center;
    
}

.team{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);

    margin-bottom: 10px;
}
.team-info{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--txt-cl);
    margin-bottom: 16px;
}

.socials-list{
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}

.socials-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    background-color: #FFFFFF;

    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus{
    background-color: var(--accent-cl);
    
}


.socials-item:not(:last-child){
    margin-right: 10px;
}
    
.socials-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon{
    fill: #FFFFFF;
}

.clients-post{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--secondary-txt-cl);

    margin-bottom: 50px;
}

.clients-list{
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}

.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-cl);
}

.clients-link:hover {
    border-color: var(--accent-cl);
}

.footer-logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    
    display: inline-block;
    margin-bottom: 20px;
}


    

.page-footer{
    
    background: var(--secondary-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;

    
}   
   



.adress-info{
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    margin-bottom: 9px;
}
.footer-contacts{
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
    display: inline-block;
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
}

.footer-contacts:last-child{
    margin-bottom: 0px;
}

.footer-contacts:hover,
.footer-contacts:focus{
    color: var(--accent-cl);
}

.footer-conteiner{
    display: flex;
    align-items: baseline;

}

.join-text{
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    margin-bottom: 20px;    
}

.join-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.join-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    list-style: none;
    background-color:  rgba(255, 255, 255, 0.1);;

    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.join-link:hover,
.join-link:focus{
    background-color: var(--accent-cl);
}

.join-item:not(:last-child){
    margin-right: 10px;
}

.join-icon{
    fill: #FFFFFF;
}

.footer-main{
    margin-right: 70px;
}

.filter-main{
    display: flex;
    justify-content:center;
    margin-bottom: 50px;

    
}

.filter-post{
    padding-top: 94px;
    padding-bottom: 94px;
}

.btn-filter{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
    cursor: pointer;
    font-family: inherit;
    padding: 6px 22px;

    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.btn-item{
    margin-right: 8px;
    
        
}

.btn-item:last-child{
    margin-right: 0px;
}

.btn-filter:hover,
.btn-filter:focus{
    color:#FFFFFF;
    background: var(--accent-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-content{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.filter-card{
    margin-left: 30px;
    margin-bottom: 30px;

    flex-basis: calc((100% - 90px) / 3);
    cursor: pointer;
    
    
}

.filter-card:hover .item-card{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    transform: translateY(0);
    
}
    
.filter-text{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;

    border: 1px solid #EEEEEE;
    
    

    
}
.filter-item{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-txt-cl);
}
.filter-list{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--txt-cl);
}

.text-card{
    display: block;
    width: 322px;
    height: 168px;
    
   
   font-size: 18px;
   line-height: 1.55;
   letter-spacing: 0.03em;
   color: #FFFFFF;
}



.item-card{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}



.box-card{
    
    position: relative;
    overflow: hidden;
}